* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.events {
  box-shadow: 5px 5px 10px #4444447d;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.event_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 10px #4444447d;
  padding: 2rem;
  border-radius: 0.5rem;
}

/* .error {
  color: #9f3232;
  font-size: 0.9em;
  text-align: center;
} */

.add-event{
  cursor: pointer;
}
