* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(152, 142, 159);
  font-family: "Roboto", sans-serif;
}

nav {
  position: relative;
  background-color: rgb(87, 52, 115);
}

li.nav-link {
  color: #fff !important;
}

.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 10px #4444447d;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
  color: rgb(29, 28, 28);
  background-color: #fff;
}

.event-container {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.error {
  color: #9f3232;
  font-size: 0.9em;
  text-align: center;
}

.add-event {
  cursor: pointer;
}

.evt {
  background-color: rgb(77, 13, 123);
  letter-spacing: 2;
  padding: 0.5rem;
  color: white;
  border-radius: 50px;
}

.modal-side {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 500px;
}

.m-body {
  border-radius: 5px;
}
.modal-title {
  text-align: center;
  margin: 0 auto;
}
.btn-modal {
  background-color: rgb(87, 52, 115);
  font-size: 1rem;
  transition: all 0.1s ease-in;
}

.btn-modal:hover {
  background-color: rgb(174, 161, 184);
}

.form-control:focus {
  outline: none;
  border: none;
}

.reg-form,
.log-form {
  width: 70%;
  margin: 0 auto;
}

.register,
.login,
.btn-block {
  color: rgb(87, 52, 115);
}

.btn-block {
  background-color: rgb(87, 52, 115);
  color: #fff;
}

@media (max-width: 576px) {
  /* features and footer */
  .container {
    max-width: 530px;
    height: 100%;
  }
  .events {
    width: 100%;
    font-size: 1rem;
  }

  .event-container {
    width: 100%;
  }
  .modal-side {
    width: 300px;
  }

  .items-dropdown {
    transform: translateX(20%);
  }
  .rounded-circle {
    margin-left: 12rem;
    transform: translateY(-20px);
  }
}
